<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <section id="title">
            <h4 class="card-title">Detalle de ingreso egreso</h4>
            <button class="btn btn-success" [routerLink]="['/products/new']"><i class="fa fa-plus"></i> Cargar producto</button>
          </section>

          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Observaciones</th>
                <th>Tamaño</th>
                <th>Stock</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.ammount | currency }}</td>
                <td>{{ product.observations }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.stock }}</td>
                <td>
                  <button (click)="delete( product )" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>


        </div>
      </div>
  </div>
</div>
