<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of items | orderIncomes">
                  <td>{{ item.description }}</td>
                  <td><span *ngIf="item.type === 'egress'">-</span>{{ item.ammount | currency }}</td>
                  <td>
                    <span [ngClass]="{
                      'text-success': item.type === 'ingress',
                      'text-danger': item.type === 'egress'
                    }">
                      <p *ngIf="item.type === 'ingress'">Ingreso</p>
                      <p *ngIf="item.type === 'egress'">Egreso</p>
                    </span>
                  </td>
                  <td>
                    <button (click)="delete( item )" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
